# 据说能十分钟掌握pandas

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
s = pd.Series([1,2,3,4,np.nan,6,7])
s

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
5    6.0
6    7.0
dtype: float64

点评：可以通过dict创建一个Series，一个一维的数据结构

In [4]:
dates = pd.date_range('20171107',periods=6)
dates

DatetimeIndex(['2017-11-07', '2017-11-08', '2017-11-09', '2017-11-10',
               '2017-11-11', '2017-11-12'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
df

                   A         B         C         D
2017-11-07 -2.029160 -0.098685  0.027647 -0.020125
2017-11-08 -0.156143 -0.782849  2.199433  0.811420
2017-11-09  0.187054  0.582570  0.011792  0.673175
2017-11-10 -2.051110  0.036465 -1.072192 -0.564660
2017-11-11 -0.189129 -1.005938 -1.378571  0.644278
2017-11-12 -1.136028  0.016187  0.123579  1.810877